@import url('node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url("https://use.typekit.net/cuv5lvg.css");

.fa-signal {
    position: relative;
    display: inline-block;
    mask-image: linear-gradient(to right, transparent 15%, black 20%);
    -webkit-mask-image: linear-gradient(to right, transparent 15%, black 20%);
}


.roxo{
background: #753b9d;
}

.verde{
background: #00a556;
}

.amarelo{
background: #eec93d;
}

@font-face {
    font-family: 'Sofast';
    src: url('public/font/Sofast Regular') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.effra-regular {
    font-family: "effra", sans-serif;
    font-weight: 400;
    font-weight: bold;
}

header nav {
    margin-right: 130px;
}
.menu-header {
    width: 60%;
}
.menu {
    gap: 15px;
}

.effra {
    font-family: "effra", sans-serif;
    font-weight: bold;
    /* Medium */
    font-style: normal;
}


.sofast {
    font-family: 'Sofast', sans-serif;
    color: white;
}

.site {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    height: 130px;
}

header>div {
    justify-content: space-between;
    display: flex;
    padding: 20px 0;
}

header>div>div {
    display: flex;
}

header>div:first-child>div:last-child a {
    margin-left: 30px;
}

header>div:first-child>div:first-child i {
    margin-right: 10px;
}

header>div:first-child>div:first-child a {
    margin-right: 30px;
}

header>div:nth-child(1) img {
    height: 16px;
}

header a {
    text-decoration: none;
    color: white;
}

.banner-home {
    align-items: end;
    display: flex;
    margin-top: -170px;
    width: 100%;
    height: 900px;
    background-image: url('assets/img/banner/01.jpg');
    background-size: cover;
    background-position: center;
}

.banner-texto {
    color: white;
}

.banner-texto {
    width: 40%;
    font-family: 'Effra-Light', sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.banner-home>div {
    display: flex;
    align-items: center;
}

.banner-texto h2 {
    font-size: 3em;
    padding: 15px 0;
}

.banner-texto h4 {
    line-height: 2em;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
}


.btn-header {
    display: flex;
}

header>div:last-child {

    align-items: center;

}

.btn-header a {
    padding: 15px 20px;
}

.btn-header>div {
    align-items: center;
    display: flex;
}

.btn-header>div:first-child a {
    color: #753b9d;
}

.btn-header>div:first-child {
    background: #fff;
}

.btn-header>div:last-child {
    background: #753b9d;
}

/* banner coisas novas */

.banner-btns{
    display: flex;
    flex-direction: row;
}

.banner-btns .banner-texto-1{
    background-color: #00a556;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.banner-btns .banner-texto-2{
    background-color: #ff9100;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.banner-texto h2 {
    font-size: 2em;
    font-weight: bold;
}

.banner-texto h4 {
    font-size: 14px;    
}

.video-container {
    width: 770px;
    height: 460px;
    background-color: white;
    margin-left: 70px;
    border: 20px solid black;
    border-radius: 20px;
    margin-bottom: -50px;
}

.video-placeholder {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* sobre curso */

.section-about {
    display: flex;
}

.section-about>div:nth-child(1) {
    width: 70%; 
    margin-top: 50px;
}
.section-about>div:nth-child(2) {
    width: 30%; 
    margin-top: 50px;
}

.curso-text1 h2 {
    font-size: 2em;
    color: #efefef;
    font-weight: bold;
}

.curso-text1 p {
    font-size: 1em;
    color: #efefef;
}
.curso-text2 h2 {
    font-size: 2em;
    color: #efefef;
    font-weight: bold;
}

.curso-text2 ul li {
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}

.curso-text2 {
    padding: 15px 0px;
}

.curso-text3 p {
    font-size: 1em;
    color: #efefef;
}

.div-card-about-course{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-about-course>div{
    display: flex;
    justify-content: space-between;
}

.card-about-course ul li {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2em;
}

.offer {
    background-color: #ff5e00;
}